#adminprod{
    margin-top: 20px;
    display: flex;
    justify-content: center;  
    height: 43vh;
    width: 100%;
}

.product {  
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}
.product .card{
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.product .picture{
    width: 100%;
    height: 100%;
    box-shadow: 2px 0px 4px 2px black; 
}

.product .price {
    padding-left: 5px;
    height: 10%;
    width: 100%;
    font-size: 30px;
    background-color: black;
    color: white;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 2px 0px 4px 0px black;
}

.product .name {
    padding-left: 5px;
    margin-top: 10px;
    font-size: 25px;
    background-color: black;
    color: white;
    height: 15%;
    width: 80%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    height: 12%;
    display: none;
    position: relative; 
    position: absolute;  
    font-size: 25px;
    z-index: 3;   
    border: 0;
    color: white;
    background-color: black;
    border-radius: 15px;
}

.product .card:hover .more{
    display: block;
} 
.product .card:hover .picture{
    opacity: 0.3; 
}
.more:hover{
    color: black;
    background-color: white;
}

.guitars{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
}
.guitars img{
    height: 50%;
    width: 100%;
}
.pointer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 10%;
}

.pointer:hover{
    background-color: rgba(211, 211, 211, 0.493);
}

.bg {
    display: none;
}